/* Your styles should be mobile-first and responsive */
main {
  margin: 10px;
}

body {
  max-width: 600px;
  margin: auto;
  Font-Family: 'Roboto Slab', Serif;
}

h1 {
 font-size: 30px;
 text-align: center;
 Font-Family: 'Ruda', Sans-Serif;
}

h2 {
 font-size: 25px;
}

h3 {
font-size: 20px;
}

.answerChoice {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  user-select: none;
}

.questionCount {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.scorekeeper {
  border-style: solid;
  background-color: #2196F3;
  padding: 10px 20px;
  line-height: 0em;
  margin-bottom: 15px;
}

img {
  width: 100%;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 2px 4px;
  cursor: pointer;
}

.button:hover {background-color: 82, 0, 9, 40}

.button:active {
  background-color: 82, 0, 9, 40;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center; 
  text-align: center;
}

.bold {
  font-weight: bolder;
  font-size: 30px;
}

.green {
  color: green;
}

.red {
  color: red;
}

@media all and (max-width: 600px) {
  
  }
/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/
