/* Your styles should be mobile-first and responsive */
main {
  margin: 10px;
}

body {
  max-width: 600px;
  margin: auto;
}

h1 {
 font-size: 30px;
 text-align: center;
}

h2 {
 font-size: 25px;
}

h3 {
font-size: 20px;
}

.answerChoice {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  user-select: none;
}

.questionCount {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.scorekeeper {
  border-style: solid;
  background-color: #2196F3;
  padding: 10px 20px;
  line-height: 0em;
}

img {
  width: 100%;
}

@media all and (max-width: 600px) {
  
  }
/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/

.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #9B8816;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: 82, 0, 9, 40}

.button:active {
  background-color: 82, 0, 9, 40;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center; 
}

.hero-image {
  background-image: url("/img/yugio1.jpg");
  background-color:#ffffff;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-10%, -50%);
  color:#ffff;
}

.hero-image1 {
  background-image: url("/img/wholepika.jpg");
  background-color: #ffffff;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#myDIV {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: coral;
  color: white;
  bottom: 0px;
  animation: mymove 5s infinite;
}

@keyframes mymove {
  50% {bottom: 300px;}
}
</style>
</head>
<body>

